Skim/runMakeSkim
Skim/output
Skim/input/json
Skim/input/__pycache__
Skim/condor/__pycache__
Skim/src/*.o
Skim/condor/tmpSub

Hist/runGamHistosFill
Hist/*.root
Hist/src/*.o
Hist/sample/FilesSkim_cff.json
Hist/sample/FilesHist_cff.json
Hist/condor/tmpSub
Hist/condor/__pycache__


Hist/files
Hist/POG
Hist/mikko
Hist/pileup
Hist/rootfiles

Fit

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#python
*.pyc

#MacOS
*.DS_Store
